:root{
    --slate500: hsl(216, 15%, 48%);
    --slate300: hsl(212, 45%, 89%);
    --white: hsl(0,0%,100%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.google.com/specimen/Outfit');

body{
    background-color: var(--slate300);
    font-family: 'Outfit', sans-serif;
}

.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
    background-color: var(--white);
    gap: 20px;
    padding: 15px;
    width: 320px;
}

.card .card-title{
    font-size: 20px;
    font-weight: 700;
    padding: 0 10px;
}

.card .card-text{
    font-size: 15px;
    font-weight: 400;
    padding: 0 12px;
    padding-bottom: 30px;
    color: var(--slate500);
}

.card img{
    width: 100%;
    border-radius: 30px;
}

@media screen and (max-width: 375px){

}